body {
  /* font-family:"Instrument Sans", sans-serif, 'Poppins', 'Roboto', 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; */
  font-family: "Instrument Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stream-impressive {
  /* background-color: rgb(18 16 49); */
  /* font-family:"Instrument Sans", sans-serif, 'Poppins', 'Roboto', 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; */
  font-family: "Instrument Sans";
  color: rgb(235, 235, 235);
  font-size: 16px;
  height: 100dvh;
  overflow-y: auto;
}
.self-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.hr {
  width: 90%;
  border: 1px solid rgb(81, 81, 81);
}
.scan-qr {
  background-color: hsla(0, 0%, 100%, 0.12);
  color: rgb(235, 235, 235);
  border-radius: 10px;
  font-weight: 500;
  padding: 15px;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.show-qr {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.qr-code {
  width: 100%;
  display: flex;
  justify-content: center;
}
.qr-code canvas {
  border-radius: 30px;
}
.cancel-btn {
  background-color: hsla(0, 0%, 100%, 0.12);
  color: rgb(235, 235, 235);
  border-radius: 10px;
  font-weight: 500;
  padding: 15px 20px;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.simple-avatar {
  align-self: flex-start;
  border-radius: 9999px; /* full rounding */
  object-fit: cover;
  height: 28px;
  width: 28px;
}
.chat-ui {
  position: relative;
}
.gradient-bg {
  background-image: url("../src/assets/bg-overlay3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.video-player {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.main-chat {
  width: 27%;
  padding: 0 5px;
  margin-left: auto;
  height: calc(100vh - 205px);
  overflow-y: hidden;
  position: relative;
  z-index: 999999999999;
  background-color: #262825e6 !important;
  top: 20px;
  border-radius: 10px;
}

.scanQR {
  width: 96%;
  height: calc(100vh - 128px);
  min-height: auto;
}
.static-chat-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 45px;
  border-radius: 10px;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
}
.message-container::-webkit-scrollbar {
  display: none;
}
.stream-impressive::-webkit-scrollbar {
  display: none;
}
.send-message-input,
.editor {
  /* background: linear-gradient(to bottom, rgba(38, 40, 37, 1) 100%, rgba(38, 40, 37, 0) 95%) !important; */
  background-color: #3a3c39 !important;
}
@media only screen and (max-width: 1199px) {
  .video-player {
    width: 100%;
  }
  .main-chat {
    width: 40%;
  }
}
@media only screen and (max-width: 991.5px) {
  .video-player {
    position: static;
    height: auto !important;
  }
  .main-chat {
    width: 100%;
    top: 0;
    border-radius: 0;
    background-color: #333333 !important;
  }
}
@media only screen and (max-width: 768.5px) {
  .immersive_chat {
    position: static !important;
  }

  .main-chat {
    width: 100%;
    margin: 0;
    padding: 0 !important;
  }
  .video-player {
    width: 100% !important;
  }
  .chat-ui {
    flex-direction: column;
    width: 100%;
  }
  .message-container {
    padding: 10px 0 10px 10px;
  }
  .static-chat-button {
    margin: 5px;
  }
  .send-message-input {
    padding: 10px !important;
  }
}

/* draftjs emoji theme override */
.emojiSuggestions {
  background: #282c46 !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2) !important;
}
.emojiSuggestionsEntry {
  padding: 10px !important;
  display: flex !important;
  align-items: center !important;
}
.emojiSuggestionsEntryFocused {
  background: #1c2039 !important;
  padding: 10px !important;
  display: flex !important;
  align-items: center !important;
}
.emojiSuggestionsEntryText {
  margin-left: 14px !important;
}

.emojiSelect {
  position: absolute !important;
  right: 72px !important;
  top: 15px !important;
}
.emojiSelectButton {
  background: none !important;
  border: none !important;
  width: 40px !important;
}

.emojiSelectButtonPressed {
  background: none !important;
  border: none !important;
  width: 40px !important;
}

.comment-input .DraftEditor-root {
  padding-right: 80px;
}

.comment-input .emojiSelect {
  top: -3px !important;
  right: 4px !important;
}

.comment-input .chat-gif-icon {
  right: 42px;
}

.emojiSelectPopover {
  background: #282c46 !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2) !important;
}

.emojiSelectButton {
  color: white !important;
}

.emojiSelectButtonPressed {
  color: white !important;
}

.editor,
.multilineEditor {
  box-sizing: border-box;
  /* border: 1px solid #ddd; */
  cursor: text;
  padding: 8px;
  border-radius: 6px;
  background: #1c2039;
  width: 100%;
  position: relative;
}

.multilineEditor .public-DraftEditor-content {
  max-height: 250px;
  min-height: 150px;
  overflow: auto;
}

.editor .public-DraftEditor-content {
  max-height: 120px;
  overflow: auto;
}

.editor .public-DraftEditorPlaceholder-root {
  position: absolute;
  color: gray;
}

.editor .popover {
  background-color: #1b1f3a;
}

.editor .popover .entry-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editor .popover .entry-row[aria-selected="true"] {
  background-color: #00000080;
}

.editor .public-DraftStyleDefault-block p {
  background-color: transparent;
  color: #1d9bf0;
}

.editor .public-DraftStyleDefault-block {
  display: flex;
}

.editor .public-DraftStyleDefault-block span {
  /* word-break: break-word; */
  min-width: 1px;
  /* display: block; */
}
.editor .public-DraftEditor-content {
  max-height: 50px !important;
  min-width: 300px;
}

.editor.with_video .public-DraftEditor-content {
  max-height: 50px !important;
  min-width: 220px;
  max-width: calc(100% - 120px);
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}
.qr-code-wrapper {
  display: flex;

  z-index: 2;
  background-color: #333333;
  padding: 20px;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 61px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  margin-left: 10px;
}
.qr-code-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}
.qr-code-main h2 {
  margin: 0 0 10px 0;
}
